<div>
    <h1 class="h1">Registrar Empleado</h1>
    <div class="formularioRegistro">
        <h2>Registrar Empleado</h2>
        <form [formGroup]="empleadoForm" (ngSubmit) = "Guardar()">
            <div class="container">
               
          <div class="form-group">
            <label>Nombres</label>
            <input type="text" formControlName="nombre" class="form-control">
          </div>
        
        
          <div class="form-group">
            <label>Apellidos</label>
            <input type="text" formControlName="apellido" class="form-control">
          </div>
        
          <div class="form-group">
            <label>Sexo</label>
            <input type="text" formControlName="sexo" class="form-control">
          </div>
          <div class="form-group">
            <label>Fecha Nacimiento</label>
            <input type="text" formControlName="fnacimiento" class="form-control">
          </div>
          <div class="form-group">
            <label>Direccion</label>
            <input type="text" formControlName="direccion" class="form-control">
          </div>
          <div class="form-group">
            <label>Correo</label>
            <input type="text" formControlName="correo" class="form-control">
          </div>
          <div class="form-group">
            <label>Ciudad</label>
            <input type="text" formControlName="ciudad" class="form-control">
          </div>
          <div class="form-group">
            <label>DNI</label>
            <select name="dni" id="dni" formControlName="dni" class="form-control" >
              <option [ngValue]="item" *ngFor="let item of dnis">{{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Cedula</label>
            <input type="number" formControlName="cedula" class="form-control">
          </div>
          <div class="form-group">
            <label>Estado Civil</label>
            <select name="estado" id="estado" formControlName="estado" class="form-control" >
              <option [ngValue]="item" *ngFor="let item of estados">{{item.nombre}}</option>
            </select>
          </div>      
      
          <button type="submit" class="btn btn-primary" style="margin-top: 1rem;" [disabled]="empleadoForm.invalid">Guardar</button>
        </div>
          </form>
        
    </div>