<div>
    <h1 class="h1">Registrar Empleado</h1>
    <div class="formularioRegistro">
        <h2>Registrar Empleado</h2>
        <form [formGroup]="empleadoForm" (ngSubmit) = "Guardar()">
            <div class="container">
               
          <div class="form-group">
            <label>Empresa</label>
            <input type="text" formControlName="empresa" class="form-control">
          </div>
        
        
          <div class="form-group">
            <label>Area</label>
            <input type="text" formControlName="area" class="form-control">
          </div>
        
          <div class="form-group">
            <label>Cargo</label>
            <input type="text" formControlName="cargo" class="form-control">
          </div>
          <div class="form-group">
            <label>Fecha inicio</label>
            <input type="text" formControlName="fcha_inicio" class="form-control">
          </div>
          <div class="form-group">
            <label>Fecha fin</label>
            <input type="text" formControlName="fcha_fin" class="form-control">
          </div>
          <div class="form-group">
            <label>Salario</label>
            <input type="number" formControlName="salario" class="form-control">
          </div>
          <div class="form-group">
            <label>Correo corp</label>
            <input type="text" formControlName="correo_corp" class="form-control">
          </div>
          <div class="form-group">
            <label>DNI</label>
            <select name="dni" id="dni" formControlName="dni" class="form-control" >
              <option [ngValue]="item" *ngFor="let item of dnis">{{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Horario</label>
            <select name="horario" id="horario" formControlName="horario" class="form-control" >
              <option [ngValue]="item" *ngFor="let item of horarios">{{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Tipo contrato</label>
            <select name="contratos" id="contratos" formControlName="contratos" class="form-control" >
              <option [ngValue]="item" *ngFor="let item of contratos">{{item.nombre}}</option>
            </select>
          </div>      
          <button type="submit" class="btn btn-primary" style="margin-top: 1rem;" >Guardar</button>
        </div>
          </form>
        
    </div>